<div id="<%= dom_id flower %>">
  <p>
    <strong>Sepal length:</strong>
    <%= flower.sepal_length %>
  </p>

  <p>
    <strong>Sepal width:</strong>
    <%= flower.sepal_width %>
  </p>

  <p>
    <strong>Petal length:</strong>
    <%= flower.petal_length %>
  </p>

  <p>
    <strong>Petal width:</strong>
    <%= flower.petal_width %>
  </p>

</div>
