<%= form_with(model: flower) do |form| %>
  <% if flower.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flower.errors.count, "error") %> prohibited this flower from being saved:</h2>

      <ul>
        <% flower.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sepal_length, style: "display: block" %>
    <%= form.text_field :sepal_length %>
  </div>

  <div>
    <%= form.label :sepal_width, style: "display: block" %>
    <%= form.text_field :sepal_width %>
  </div>

  <div>
    <%= form.label :petal_length, style: "display: block" %>
    <%= form.text_field :petal_length %>
  </div>

  <div>
    <%= form.label :petal_width, style: "display: block" %>
    <%= form.text_field :petal_width %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
