<div class="container pt-5">
  
<%= form_with url: root_path, method: :get do |form| %>
    <%= form.label :name, "Enter a values between 1-12" %>
    <%= form.number_field :name %>
    <%= form.submit "Submit" %>
<% end %>



<% if @name.to_i <= 0 || @name.to_i > 12 %>
  Nothing to display; submit a table size (between 1 and 12) first.
<% else %>
  <table>
      <thead>
        <tr>
          <% for i in 1..@name.to_i %>
              <%= i %>
          <% end %>

        </tr>
      </thead>
      <tbody>
        <% for k in 1..@name.to_i %>
          <tr>
            <td><%= k %></td>
            <% for i in 1..@name.to_i %>
            <td><%= k * i %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  
<% end %>


</div>
